
Django==5.0.4
django-allauth==0.61.1
django-crispy-forms==2.1
django-environ==0.11.2
django-tailwind==3.8.0
crispy-bootstrap5==2024.2
pillow==10.3.0
pip==24.0

html
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>




















