{% extends 'core/base.html' %}
{% block content %} 

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarPublicacion/" method="POST">{% csrf_token %}

                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{publicacion.codigo}}" class="form-control" placeholder="Código"
                            minlength="6" maxlength="6" readonly required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtTitulo" name="txtTitulo" value="{{publicacion.titulo}}" class="form-control" placeholder="Titulo"
                            maxlength="50" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="numPrecio" name="numPrecio" value="{{publicacion.precio}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="numCantidad" name="numCantidad" value="{{publicacion.cantidad}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtUnidad" name="txtUnidad" value="{{publicacion.unidad}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtCategoria" name="txtCategoria" value="{{publicacion.categoria}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>

                    
                    <!--
                    <div class="input-group mt-3" >
                        <div class="input-group-text">Fecha de Cosecha</div>
                        <input type="date" id="DateFechaCosecha" name="DateFechaCosecha" value="{{publicacion.fechaCosecha}}" class="form-control" placeholder="Fecha" aria-label="Fecha">
                    </div>-->
                    
                    

                    <div class="form-group">
                        <input type="text" id="txtDescripcion" name="txtDescripcion" value="{{publicacion.descripcion}}" class="form-control" min="1" max="9"
                            value="1" required>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}