{% extends 'core/base.html' %}

{% block content %}
<div class="bg-fondo">
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h6 class="fw-bold text-center py-3">Nueva Publicacion</h6>
            <form class="col py-2" method="POST">
                {% csrf_token %}
                <div class="col px-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn bg-verde_menta text-light vstack mx-auto">Publicar</button>
            </form>
        </div>
    </div>
    <div class="col-md-8 ms-auto">
        <div class="card w-75 h-75">
            <div class="container-fluid">
                <img class="d-block h-75" src="/media/logo.png" alt="Algo salio mal">
                <div class="position-absolute top-100 w-100">
                    <input class="form-control mt-3" type="file" id="formFileMultiple" multiple>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
