{% extends 'core/base.html' %}

{% block content %}
<div class="bg-fondo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg bg-white rounded contenedor-publicar-preview mx-auto">
                    <div class="card-section section-1">
                        <img src="/media/logo.png" class="d-block img-pequena" alt="se produjo un error">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg bg-white rounded contenedor-publicar-preview mx-auto">
                    <div class="card-section section-2 px-3">
                        <h4 class="card-title">Quiénes Somos</h4>
                        <p>
                            EcoJusta es una plataforma que busca establecer un mercado justo y equitativo 
                            para agricultores y clientes, eliminando intermediarios y permitiendo que los 
                            cultivadores vendan sus productos de manera directa y sostenible. Su objetivo 
                            es beneficiar tanto a los agricultores como a los consumidores. Para los agricultores,
                            proporciona estabilidad financiera al ofrecer una plataforma estable para la venta,
                            reduciendo la incertidumbre y garantizando ingresos más predecibles. 
                            Para los consumidores, busca garantizar precios accesibles y el acceso a productos 
                            frescos y saludables. Además, EcoJusta promueve la transparencia, la trazabilidad, 
                            la diversidad y la conservación en la agricultura, apoyando así un enfoque sostenible
                            en toda la cadena de suministro.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}